body {
    font-family: Arial;
    background: #eef2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
}

#options button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}

#nextBtn {
    margin-top: 10px;
    padding: 10px 20px;
}

.hide {
    display: none;
}
