<!DOCTYPE html>
<html>
<head>
    <title>Simple Blog</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <div class="logo">SimpleBlog ✍️</div>
    <div>
        <a href="/">Home</a>
        <a href="/create">Create Post</a>
    </div>
</nav>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>